<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>golabi</title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
</head>
<style>
    .p1{
        color: blue;
    }
    #p2{
        color: red;
    }
    .p3{
        color: orange;
    }
</style>
<body>
<h1 id="p2">hello world</h1>
<p class="p1">this is a template</p>
<p id="p2">this is second</p>
<p class="p3">this is third p</p>
<a href="#">salam</a>
<b>this a bold text</b><br>
this is next line
<article>

</article>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-xl-1" style="border-left: 1px solid #333; height: 200px;"></div>
            <div class="col-xl1" style="border-left: 1px solid #333; height: 200px;"></div>
            <div class="col-1" style="border-left: 1px solid #333; height: 200px;"></div>
            <div class="col-1" style="border-left: 1px solid #333; height: 200px;"></div>
            <div class="col-1" style="border-left: 1px solid #333; height: 200px;"></div>
            <div class="col-1" style="border-left: 1px solid #333; height: 200px;"></div>
            <div class="col-1" style="border-left: 1px solid #333; height: 200px;"></div>
            <div class="col-1" style="border-left: 1px solid #333; height: 200px;"></div>
            <div class="col-1" style="border-left: 1px solid #333; height: 200px;"></div>
            <div class="col-1" style="border-left: 1px solid #333; height: 200px;"></div>
            <div class="col-1" style="border-left: 1px solid #333; height: 200px;"></div>
            <div class="col-1" style="border-left: 1px solid #333; height: 200px;"></div>
        </div>
    </div>

</section>
<nav></nav>
<canvas></canvas>
<video></video>
</body>
</html>