<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <meta charset="utf-8">
    <title>لیست سفارش‌ها</title>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="css/font-awesome.css">
    <style type="text/css">
        body{
            background: #ffffff url(https://www.bing.com/az/hprichbg/rb/Idukki_ROW13494136163_1920x1080.jpg) no-repeat center center fixed;
            background-size: cover;
            height: 100% !important;
        }
        #main_content{
            background: #ffffff;
            box-shadow: 0 0 15px #111;
            min-height: 100%;
            flex: 1;
            display: block;
            font-family: samim;
        }
        .rtl-text{
            direction: rtl;
        }
        @font-face {
            font-family: 'samim';
            src: url('fonts/Samim.eot');
            src: url('fonts/Samim.woff') format('woff'), url('fonts/Samim.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

    </style>
    <script src="js/jquery-3.3.1.js" type="text/javascript"></script>
    <script src="js/bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function(){
            $(".menu_").on("click", function(){
                var id = $(this).attr("id").split("_")[2];
                $(".content_").hide();
                $("#content_"+id).fadeIn(200);
                $(".menu_.btn-dark").addClass("btn-link");
                $(".menu_").removeClass("btn-dark");
                $(this).addClass("btn-dark").removeClass("btn-link");
            })
        })
    </script>
</head>
<body>
<div id="main_content" class="container" style="padding: 0 !important;">
    <nav style="height: 50px; width:100%; padding: 7px;" class="bg-light  no-gutters border-bottom">
        <div class="col-6 col-xl-3 pull-right">
            <h3 class="h3 text-right" style="padding-right: 10px; font-family: samim">
                <i class="fa fa-first-order pull-right fa"></i> سفارش غذا</h3>
        </div>
        <div class="col-6 col-xl-9">
            <div class="row">
                <div class="col-xl-3 col-6 pull-left">
                    <button class="btn btn-danger rtl-text">
                        <i class="fa fa-power-off"></i> خوش‌آمدی حسین!
                    </button>
                </div>
            </div>
        </div>
    </nav>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-12">
            <div class="alert alert-light text-right">
                <div class="form-row text-right">
                    <div class="col-4">
                        <label class="sr-only" for="from">از تاریخ</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                            <input type="text" class="form-control" id="from" placeholder="از تاریخ">
                        </div>
                    </div>
                    <div class="col-4">
                        <label class="sr-only" for="to">تا تاریخ</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-calendar-check-o"></i>
                                </div>
                            </div>
                            <input type="text" class="form-control" id="to" placeholder="تا تاریخ">
                        </div>
                    </div>
                    <div class="col-4">
                        <label class="sr-only" for="dl">وعده غذایی</label>
                        <select class="custom-select" id="dl">
                            <option selected>وعده غذا</option>
                            <option value="1">ناهار</option>
                            <option value="2">شام</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

                    <table class="rtl-text table table-light table-striped table-hover table-responsive-md" style="max-width: 100%">
                        <thead class="bg-info text-white">
                        <tr class="small text-center">
                            <th class="rotated_mate text-nowrap align-middle">
                                نام همکار
                            </th>
                            <th class="rotated_mate text-nowrap align-middle">شنبه ۹۷/۷/۷</th>
                            <th class="rotated_mate text-nowrap align-middle">شنبه ۹۷/۷/۷</th>
                            <th class="rotated_mate text-nowrap align-middle">شنبه ۹۷/۷/۷</th>
                            <th class="rotated_mate text-nowrap align-middle">شنبه ۹۷/۷/۷</th>
                            <th class="rotated_mate text-nowrap align-middle">شنبه ۹۷/۷/۷</th>
                            <th class="rotated_mate text-nowrap align-middle">شنبه ۹۷/۷/۷</th>
                            <th class="rotated_mate text-nowrap align-middle">شنبه ۹۷/۷/۷</th>
                            <th class="rotated_mate text-nowrap align-middle">شنبه ۹۷/۷/۷</th>
                            <th class="rotated_mate text-nowrap align-middle">شنبه ۹۷/۷/۷</th>
                            <th class="rotated_mate text-nowrap align-middle">شنبه ۹۷/۷/۷</th>

                        </tr>
                        </thead>
                        <tbody class="small text-center">
                        <tr>
                            <td class="text-nowrap">
                                حسین سلیمانی
                            </td>
                            <td class="text-nowrap">
                                چلو کباب
                            </td>
                            <td class="text-nowrap">باقالی‌پلو با مرغ</td>
                            <td class="text-nowrap">چلو کباب برگ</td>
                            <td>قرمه‌سبزی</td>
                            <td>لازانیا</td>
                            <td>کباب بره</td>
                            <td>شیشلیک</td>
                            <td class="text-nowrap">گلابی پخته</td>
                            <td>پاستا</td>
                            <td class="text-nowrap">دنده کباب</td>
                        </tr>
                        <tr>
                            <td>
                                حسین سلیمانی
                            </td>
                            <td>
                                چلو کباب
                            </td>
                            <td>باقالی‌پلو با مرغ</td>
                            <td>چلو کباب برگ</td>
                            <td class="text-center"><i class="fa fa-remove text-danger"></i> </td>
                            <td>لازانیا</td>
                            <td>کباب بره</td>
                            <td>شیشلیک</td>
                            <td class="text-nowrap">گلابی پخته</td>
                            <td>پاستا</td>
                            <td>دنده کباب</td>
                        </tr>
                        <tr>
                            <td>
                                حسین سلیمانی
                            </td>
                            <td>
                                چلو کباب
                            </td>
                            <td>باقالی‌پلو با مرغ</td>
                            <td>چلو کباب برگ</td>
                            <td>قرمه‌سبزی</td>
                            <td>لازانیا</td>
                            <td>کباب بره</td>
                            <td>شیشلیک</td>
                            <td class="text-nowrap">گلابی پخته</td>
                            <td>پاستا</td>
                            <td>دنده کباب</td>
                        </tr>
                        <tr>
                            <td>
                                حسین سلیمانی
                            </td>
                            <td>
                                چلو کباب
                            </td>
                            <td>باقالی‌پلو با مرغ</td>
                            <td>چلو کباب برگ</td>
                            <td>قرمه‌سبزی</td>
                            <td>لازانیا</td>
                            <td>کباب بره</td>
                            <td>شیشلیک</td>
                            <td class="text-nowrap">گلابی پخته</td>
                            <td>پاستا</td>
                            <td>دنده کباب</td>
                        </tr><tr>
                            <td>
                                حسین سلیمانی
                            </td>
                            <td>
                                چلو کباب
                            </td>
                            <td>باقالی‌پلو با مرغ</td>
                            <td>چلو کباب برگ</td>
                            <td>قرمه‌سبزی</td>
                            <td>لازانیا</td>
                            <td>کباب بره</td>
                            <td>شیشلیک</td>
                            <td class="text-nowrap">گلابی پخته</td>
                            <td>پاستا</td>
                            <td>دنده کباب</td>
                        </tr><tr>
                            <td>
                                حسین سلیمانی
                            </td>
                            <td>
                                چلو کباب
                            </td>
                            <td>باقالی‌پلو با مرغ</td>
                            <td>چلو کباب برگ</td>
                            <td>قرمه‌سبزی</td>
                            <td>لازانیا</td>
                            <td>کباب بره</td>
                            <td>شیشلیک</td>
                            <td class="text-nowrap">گلابی پخته</td>
                            <td>پاستا</td>
                            <td>دنده کباب</td>
                        </tr><tr>
                            <td>
                                حسین سلیمانی
                            </td>
                            <td>
                                چلو کباب
                            </td>
                            <td>باقالی‌پلو با مرغ</td>
                            <td>چلو کباب برگ</td>
                            <td>قرمه‌سبزی</td>
                            <td>لازانیا</td>
                            <td>کباب بره</td>
                            <td>شیشلیک</td>
                            <td class="text-nowrap">گلابی پخته</td>
                            <td>پاستا</td>
                            <td>دنده کباب</td>
                        </tr><tr>
                            <td>
                                حسین سلیمانی
                            </td>
                            <td>
                                چلو کباب
                            </td>
                            <td>باقالی‌پلو با مرغ</td>
                            <td>چلو کباب برگ</td>
                            <td>قرمه‌سبزی</td>
                            <td>لازانیا</td>
                            <td>کباب بره</td>
                            <td>شیشلیک</td>
                            <td class="text-nowrap">گلابی پخته</td>
                            <td>پاستا</td>
                            <td>دنده کباب</td>
                        </tr><tr>
                            <td>
                                حسین سلیمانی
                            </td>
                            <td>
                                چلو کباب
                            </td>
                            <td>باقالی‌پلو با مرغ</td>
                            <td>چلو کباب برگ</td>
                            <td>قرمه‌سبزی</td>
                            <td>لازانیا</td>
                            <td>کباب بره</td>
                            <td>شیشلیک</td>
                            <td class="text-nowrap">گلابی پخته</td>
                            <td>پاستا</td>
                            <td>دنده کباب</td>
                        </tr><tr>
                            <td>
                                حسین سلیمانی
                            </td>
                            <td>
                                چلو کباب
                            </td>
                            <td>باقالی‌پلو با مرغ</td>
                            <td>چلو کباب برگ</td>
                            <td>قرمه‌سبزی</td>
                            <td>لازانیا</td>
                            <td>کباب بره</td>
                            <td>شیشلیک</td>
                            <td class="text-nowrap">گلابی پخته</td>
                            <td>پاستا</td>
                            <td>دنده کباب</td>
                        </tr><tr>
                            <td>
                                حسین سلیمانی
                            </td>
                            <td>
                                چلو کباب
                            </td>
                            <td>باقالی‌پلو با مرغ</td>
                            <td>چلو کباب برگ</td>
                            <td>قرمه‌سبزی</td>
                            <td>لازانیا</td>
                            <td>کباب بره</td>
                            <td>شیشلیک</td>
                            <td class="text-nowrap">گلابی پخته</td>
                            <td>پاستا</td>
                            <td>دنده کباب</td>
                        </tr><tr>
                            <td>
                                حسین سلیمانی
                            </td>
                            <td>
                                چلو کباب
                            </td>
                            <td>باقالی‌پلو با مرغ</td>
                            <td>چلو کباب برگ</td>
                            <td>قرمه‌سبزی</td>
                            <td>لازانیا</td>
                            <td>کباب بره</td>
                            <td>شیشلیک</td>
                            <td class="text-nowrap">گلابی پخته</td>
                            <td>پاستا</td>
                            <td>دنده کباب</td>
                        </tr><tr>
                            <td>
                                حسین سلیمانی
                            </td>
                            <td>
                                چلو کباب
                            </td>
                            <td>باقالی‌پلو با مرغ</td>
                            <td>چلو کباب برگ</td>
                            <td>قرمه‌سبزی</td>
                            <td>لازانیا</td>
                            <td>کباب بره</td>
                            <td>شیشلیک</td>
                            <td class="text-nowrap">گلابی پخته</td>
                            <td>پاستا</td>
                            <td>دنده کباب</td>
                        </tr><tr>
                            <td>
                                حسین سلیمانی
                            </td>
                            <td>
                                چلو کباب
                            </td>
                            <td>باقالی‌پلو با مرغ</td>
                            <td>چلو کباب برگ</td>
                            <td>قرمه‌سبزی</td>
                            <td>لازانیا</td>
                            <td>کباب بره</td>
                            <td>شیشلیک</td>
                            <td class="text-nowrap">گلابی پخته</td>
                            <td>پاستا</td>
                            <td>دنده کباب</td>
                        </tr>










                        </tbody>
                    </table>

        </div>
    </div>
    <footer class="bg-dark text-center" style="height: 100px">
        <div class="small text-center text-white rtl-text" style="padding-top: 25px;">
            تمامی حقوق محفوظ است. <br>
            ۱۳۹۷ - ۲۰۱۸
        </div>
    </footer>
</div>
</body>
</html>